@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    font-family: 'Inter', sans-serif;
}

.container{
    width: 320px;
    background-color: #1A1B21;
    border-radius: .8rem;
    overflow: hidden;
}

.img-container{
    width: 100%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
}

.main-img{
    width: 100%;
    height: 280px;
    object-fit: cover;
    object-position: 50% 20%
}
.name{
    margin-top: 1rem;
    font-size: 26px;
}
.sub-container{
    padding: 0 1.5rem;
}
.role{
    font-size: 12.7px;
    color: #F3BF99;
    margin-top: .3rem;
}
.web{
    font-size: 11px;
    margin-top: .1rem;
}
.connect{
    padding: 1rem 0;
    display: flex;
    gap: 1rem;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    font-weight: 600;
}
.mail{
    padding: .4rem 1.75rem;
    color: black;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: .5rem;
    border-radius: .35rem;
}
.linkedin{
    border-radius: .35rem;
    padding: .4rem 1.2rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #5093E2;
    gap: .5rem;
}
.about{
    margin-top: 1rem;
    text-align: left;
}
.about h3{
    margin-bottom: .4rem;
}
.about p{
    margin-bottom: .4rem;
}
.interest{
    margin-top: 1rem;
    text-align: left;
}
.interest h3{
    margin-bottom: .4rem;
}
.interest p{
    margin-bottom: 2rem;
}
.footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background-color: #161619;
    padding: 1.2rem 0;
}
.youtube{
    width: 30px;
    color: white;
}
.leet{
    width: 28px;
}
.facebook{
    width: 28px;
}
a{
    display: flex;
    align-items: center;

}

@media only screen and (min-width: 0px) {
    .main-img{
        height: 180px;
    }
}
@media only screen and (min-width: 300px) {
    .main-img{
        height: 220px;
    }
}
@media only screen and (min-width: 350px) {
    .main-img{
        height: 260px;
    }
}
@media only screen and (min-width: 420px) {
    .main-img{
        height: 300px;
    }
}

@media only screen and (max-width: 480px) {
    .main-container{
        width: 85vw;
        padding: 1.5rem 2rem;
    }
    .container{
        width: 100%;
    }
    .name{
        font-size: 20px;
    }
    .role{
        font-size: 11.5px;
    }
    .web{
        font-size: 10.5px;
    }
    .connect{
        flex-direction: column;
    }
    .about h3{
        font-size: 1rem;
    }
    .about p {
        font-size: 12px;
    }
    .interest h3{
        font-size: 1rem;
    }
    .interest p {
        font-size: 12px;
    }
}
